html{
    font-size: 8px;                 /*ställer in rem*/
}
body{
    margin: 0;                      /*tar bort margin utanför body*/
}
nav{
    display: flex;                  /*skapar en vågrät lista inuti nav*/
    background-color: #202020;    
    padding: 2rem;                  /*gör så att innehållet inte ligger emot kanterna på nav*/

    align-items: center;            /*centrerar innehållet lodrätt*/
}
main{
    display: grid;                      /*skapar en gridlayout*/
    height: 200vh;                      /*sätter höjden för layouten så att hela layouten är 2 skärmhöjder högt. detta för att ge varje iframe mer utrymme*/
    grid-template-columns: 1fr;         /*skapar 1 kolumn*/
    grid-template-rows: auto auto auto auto;      /*skapar 4 rader som ändrar höjden efter innehållet*/
    grid-template-areas:                /*skapar en layout för hur innehållet ska placeras i griden*/
       "tabell"
       "formulär"
       "responsivitet"
       "mobile";
}
.tabell{
    grid-area: tabell;                  /*kopplar akutell iframe till rätt id i grid area*/
}
.formulär{
    grid-area: formulär;                /*kopplar akutell iframe till rätt id i grid area*/
}
.responsivitet{
    grid-area: responsivitet;           /*kopplar akutell iframe till rätt id i grid area*/
}
.mobile{
    grid-area: mobile;                  /*kopplar akutell iframe till rätt id i grid area*/
}
nav > a,
nav > h1,
footer > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav > a{
    display: inline-block;          /*skapar ett block som också gör att hela knappen blir klickbar*/
    padding: 2rem;                  /*gör så att texten i knappen inte ligger emot knappens kanter*/

    background-color: #404040;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
nav > h1{
    font-size: 4rem;
    margin: 0;
    flex: 1;
    text-align: center;             /*centrerar huvudrubriken mellan knappen och den högra ytterkanten*/
}
iframe{
    width: 100%;                        /*ändrar bredden på iframen så att den täcker hela sin grid*/
    height: 100%;                       /*ändrar höjden på iframen så att den täcker hela sin grid*/
    box-sizing: border-box;             /*gör att den totala storleken för iframe blir 100% av sin grid och inte större trots border och padding till exempel*/
    border: 1rem #404040 solid;
}
footer{
    padding: 2rem;
    background-color: #202020;
}
footer > p{
    text-align: center;
    font-size: 2rem;
}
@media (min-width: 768px) {         /*allt innanför denna aktiveras enbart när skärmen är större än 768px*/
    nav::after{                     /*skapar ett element sist på flex raden*/
        content: "";                /*skapar tomt innehåll*/
        flex: 0 0 12rem;            /*ställer storleken på detta element till 12 rem (samma storlek som knappen), detta använd för att kunna centrera huvudrubriken på sidan*/
    }
    main{
    height: 100vh;                  /*ändrar grid heighten så att alla 4 iframe syns på samma i samma visning*/
    grid-template-columns: 1fr 1fr;     /*skapar 2 kolumner som delar på utrymmet*/
    grid-template-rows: auto auto;      /*skapar 2 rader som ändrar höjden efter innehållet*/
    grid-template-areas:                /*skapar en layout för hur innehållet ska placeras i griden*/
        "tabell formulär"
        "responsivitet mobile";
    }
}