html{
    font-size: 8px;                 /*ställer in rem*/
}
body{
    margin: 0;
    background-color: #202020;
}
header{
    padding: 4rem 0;
    background-color: #404040;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: flex;                              /*skapar flex för att kunna centrera innehållet*/
    flex-direction: column;                     /*ändrar från row till column för fallande lista*/
    align-items: center;                        /*centrerar innehållet vågrätt*/
}
header > .header-name,
header > .header-img{
    display: block;                             /*skapar block för varje innehåll*/
}
.header-name > h1,
.header-name > h2{
    color: white;
}
.header-name{
    text-align: center;
}
h1, h2, h3, p, a{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 0;
    font-size: 6rem;
}
h1, h2{
    font-weight: lighter;
}
h2{
    margin: 1rem 0;
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p, a{
    margin: 0;
    font-size: 2rem;
}
a{
    color: black;
    text-decoration: none;
}
img{
    width: 50%;           /*ändrar bredden på bilden*/
    margin-left: 25%;
    height: auto;           /*ändrar höjden på bilden automatiskt*/
    border-radius: 50%;     /*gör att den blir rund*/
    object-fit: cover;      /*gör att bilden fyller cirkeln utan att bli förvrängd*/
}
article{
    margin-top: 3rem;
    padding: 1rem 2rem;
    background-color: #ffd800;
    border-radius: 5%;
}
.arbetslivserfarenhet, .link, .contact{
    font-weight: bold;
}
footer{
    margin: 3rem 0;
}
footer > h2{
    text-align: center;
    font-size: 2rem;
    color: white;
}

@media (min-width: 768px) {
    header{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
            "img name";

        padding: 0;
        background-color: #202020;
    }

    .header-name{
        grid-area: name;
        align-self: flex-start;

        margin: 5% 0 0 5%
    }
    .header-name > h1,
    .header-name > h2{
        display: flex;
    }
    h1{
        font-size: 9rem;
        font-weight: bold;
    }
    h2{
        font-size: 5rem;
        font-weight: bold;
    }
    .header-img{
        grid-area: img;
        margin: 10%;

        background-color: #404040;
        border-radius: 10%;
    }
    img{
        width: 80%;
        margin: 10%;
    }
    .personlig{
        background-color: #202020;
    }
    .personlig > h3,
    .personlig > p,
    .länkar > h3,
    .länkar > .link{
        color: white;
    }
    .personlig{
        margin: 0 2.5%;
        padding: 0;
    }
    .personlig > h3{
        margin: 0 0 2rem 0;
    }
    .personlig > p{
        font-size: 3rem;
    }
    h3{
        font-size: 5rem;
    }
}